<header>
  <div class = "container">
    <a routerLink = "/" class = "logo">Ghetto Beers</a>
    <nav>
      <ul>
        <!-- add routers(links) -->
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/products">products</a></li>
        <li><a href="#" routerLink="/sign-in">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- THIS will grab components and put them within the router-outlet tag-->
<div class = "container"> 
    <router-outlet></router-outlet>
</div>