

<p class="name"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_413bqd5rcxw7g1s8vDME-K4twUrCfIvEmfIFAWSmRkruifQGNw"></p>
<h1>Hasashi Beer</h1>
<h2>$50</h2>
<p>
    Asahi was founded in Osaka in 1889 as the Osaka Beer Company (大阪麦酒会社 Ōsaka Bakushu Kaisha).[7] During the First World War German prisoners worked in the brewery.[8]
    In 1987 Asahi introduced Asahi Super Dry a product that transformed the modern beer industry in Japan. Asahi Super Dry is described as a highly attenuated lager without 
    the heavier malt flavors of competitors' products, with a crisp, dry taste reminiscent of some northern German beers.[18] This highly successful launch led to a 
    significant rise in consumer demand for dry beer and in turn to a dramatic turnaround in Asahi's business performance, surpassing Kirin in terms of both sales and profitability.
</p>

<h5>*5 left in stock*</h5>
<button class="btn" >Add to Cart</button>