<h1>Our Beers</h1>
<ul *ngIf="brews">
        <!-- *ngFore will iterate through the objects and allow you to retrieve info as such -->
        <li *ngFor="let brew of brews">
            <p class="name">{{ brew.name }}</p>
            <p class="name"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_413bqd5rcxw7g1s8vDME-K4twUrCfIvEmfIFAWSmRkruifQGNw" width = "50%"></p>
            <p class="country">$50</p>
            <button class="btn" >Description</button>
        </li>
</ul>