<h1>Get Crazy Cool Beers Here!</h1>

<ul >
    <!-- *ngFore will iterate through the objects and allow you to retrieve info as such -->
    <li>
        <p class="name"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_413bqd5rcxw7g1s8vDME-K4twUrCfIvEmfIFAWSmRkruifQGNw"></p>
        <button class="btn" >Launch demo modal</button>
    </li>
    <li>
        <p class="name"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_413bqd5rcxw7g1s8vDME-K4twUrCfIvEmfIFAWSmRkruifQGNw"></p>
        <button class="btn" >Launch demo modal</button>
    </li>
    <li>
        <p class="name"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_413bqd5rcxw7g1s8vDME-K4twUrCfIvEmfIFAWSmRkruifQGNw"></p>
        <button class="btn" >Launch demo modal</button>
    </li>
    <li>
        <p class="name"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_413bqd5rcxw7g1s8vDME-K4twUrCfIvEmfIFAWSmRkruifQGNw"></p>
        <button class="btn" >Launch demo modal</button>
    </li>
</ul>


  
  

